<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Contato</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">Sobre</a>
            <a href="/contact">Contato</a>
            <a href="/alunos">Alunos</a>
        </nav>
    </header>
    <section>
        <h2>Entre em Contato</h2>
        <p>Se você tiver alguma dúvida ou quiser saber mais sobre o projeto, não hesite em entrar em contato!</p>
        <p>Esta página foi criada por João Gabriel - GES258</p>
    </section>
</body>
</html>